
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.gridIndex{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(4,auto);
    grid-template-areas: "header header header"
    "img img img"
    "main main main"
    "footer footer footer";
}
.container__header{grid-area: header;}
.main__primary--img{grid-area: img;}
.container__card{grid-area: main; justify-content: center; align-content: center;}
footer{grid-area: footer;}
.container__imgFinal{grid-area: main;}
.container__main{grid-area: main;}

header{
    height: 130px;
    background: linear-gradient(rgba(0, 0, 0, 6), rgba(0, 0, 0, 0.5)),url(../assest/img/fondo-header.jpg);
    display: flex;
    justify-content: space-between;
}
.container__menu{
    padding-right: 5%;
    display: grid;
    justify-items: center;
    align-items: center;
}
.container__menu--list li{
    border-right: 2px solid white;
    list-style-type: none;
    display: inline;

}
.container__menu--list a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.5s;
}
.container__menu--list a:hover{
    background-color: gray;
    border-radius: 20px;
    transition: all 0.5s;
}
.container__logo img{
    filter: invert();
    height: 100%;
}
.container__logo{
    padding-left: 5%;
}

.main__primary--img{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../assest/img/slider3.jpg);
    background-size: cover;
    background-position: center;
    min-height: 650px;
    align-content: center;
    justify-content: center;
}
.main__primary--img h2{
    text-align: center;
    margin: 0;
    font-size: 40px;
    color: white;
}
.main__primary--img p{
    color: white;
    text-align: center;
    font-size: 20px;
}
.texto{
    grid-column: 2/3;
}

.container__card{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex; 
    margin: 0 auto;
    width: 80%;
    flex-wrap: wrap;
    gap: 20px;
}
.container__card--bloque{
    padding: 20px;
    background-color: #dddd;
    box-shadow: 5px 5px 10px;
    border-radius: 30px;
    font-size: 20px;
    width: 600px;
    text-align: center;
}
.container__card--bloque img{
    border-radius: 20px;
    width: 60%;
}
.container__imgFinal{
    display: grid;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../assest/img/mecanica_industrial.jpg);
    background-size: cover;
    background-position:top;
    min-height: 500px;

}
.container__imgFinal p{
    margin: 0;
    color: white;
    text-align: center;
    font-size: 20px;
}
.textFinal{
    display: grid;
    align-content: center;
    justify-content: center;
}
.redes{
    text-align: center;
}
.redes img{
    width: 30px;
    margin: 10px;
}
.copyright{
    text-align: center;
}
.error img{
    width: 40%;
    padding-left: 30%;

}
.container__main{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto auto auto auto;
}
.container__main--h2{
    text-align: center;
    grid-row: 1/1;
    grid-column:2/3;
}
.container__card__services{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    grid-column: 2/3;
    grid-row: 2/4;
    justify-content: center;
}
.container__card--bloqueServicios{
    padding: 20px;
    background-color: #dddd;
    box-shadow: 5px 5px 10px;
    border-radius: 30px;
    font-size: 20px;
    width: 300px;
    height: auto;
    text-align: center;
}


.quienesSomos{
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.vision{
    grid-column: 1/1;
    grid-row: 1/1;
}
.mision{

    margin-left: 40px;
    grid-column: 2/2;
    grid-row: 1/3;
}
.valores{
    grid-column: 1/1;
    grid-row: 2/3;
}
.quienesSomos p{
    text-align: justify;
    font-size: 20px;
}
.quienesSomos h2{
    font-size: 30px;
}
.contenedor__ubicacion{
    text-align: center;
}
.contenedor__formulario{
    text-align: center;
    margin: 0 auto;
    width: 80%;
}
.contenedor__formulario form label{
    display: inline-block;
    width: 190px;
}








@media only screen and (max-width:768px) {
    header{
        height: 300px;
        display: block;
    }
    .container__logo{
        height: 100px;
        text-align: center;
        padding: 0;
    }
    .container__menu--list li{
        display: block;
        padding: 0;
        margin: 0;
        font-size: 20px;
        border-right: none;
        border-bottom: 2px solid white;
    }
    .container__card--bloque{
        width: 400px;
    }
    .quienesSomos{
        display: block;
        text-align: center;
    }
    .mision{
        margin-left: 0;
    }

    .textFinal p{
    font-size: 15px;
    margin: 50px;
    }



}