@for $i from 1 through 5 {
    .mt-#{$i}{
        margin-top:10px*$i;
    }
}
@for $i from 1 through 5 {
    .mb-#{$i}{
        margin-bottom:10px*$i;
    }
}

@for $i from 1 through 5 {
    .p-#{$i}{
        padding:10px*$i;
    }
}