@import "mixin";
.grid{
    display: grid;
    grid-template-areas: "vision mision"
                        "valores mision";
}
.mision{
    grid-area: mision;
    @include borderblack;
}
.valores{
    grid-area: valores;
    @include borderblack;

}
.vision{
    grid-area: vision;
    @include borderblack;

}